---
http_interactions:
- request:
    method: get
    uri: http://webservices-acc.cibg.nl/Ribiz/OpenbaarV2.asmx?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Proxy-Connection:
      - Keep-Alive
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://services.cibg.nl/ExternalUser\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://services.cibg.nl/ExternalUser\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://services.cibg.nl/ExternalUser\">\r\n
        \     <s:element name=\"listHcpApproxRequest\" type=\"tns:ListHcpApproxRequest\"
        />\r\n      <s:complexType name=\"ListHcpApproxRequest\">\r\n        <s:sequence>\r\n
        \         <s:element minOccurs=\"1\" maxOccurs=\"1\" name=\"WebSite\" type=\"tns:SourceWebSite\"
        />\r\n          <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"Name\" type=\"s:string\"
        />\r\n          <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"Initials\"
        type=\"s:string\" />\r\n          <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"Prefix\" type=\"s:string\" />\r\n          <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"Stree[...]
- request:
    method: post
    uri: http://webservices-acc.cibg.nl/Ribiz/OpenbaarV2.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://services.cibg.nl/ExternalUser"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:listHcpApproxRequest><tns:WebSite>Ribiz</tns:WebSite><tns:ProfessionalGroup>01</tns:ProfessionalGroup><tns:Initials>R.</tns:Initials><tns:Name>Schoemacher</tns:Name><tns:Gender>M</tns:Gender></tns:listHcpApproxRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"http://services.cibg.nl/ExternalUser/ListHcpApprox3"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Proxy-Connection:
      - Keep-Alive
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><ListHcpApprox3Result
        xmlns="http://services.cibg.nl/ExternalUser"><ListHcpApprox><ListHcpApprox3><HcpNumber>237531</HcpNumber><BirthSurname>Schoemacher</BirthSurname><MailingName>R.
        Schoemacher</MailingName><Initial>R.</Initial><Gender>M</Gender><ArticleRegistration><ArticleRegistrationExtApp><ArticleRegistrationNumber>29023753101</ArticleRegistrationNumber><ArticleRegistrationStartDate>1998-03-11T00:00:00</ArticleRegistrationStartDate><ArticleRegistrationEndDate>0001-01-01T00:00:00</ArticleRegistrationEndDate><ProfessionalGroupCode>01</ProfessionalGroupCode></ArticleRegistrationExtApp></ArticleRegistration><Specialism
        /><Mention /><JudgmentProvision /><Limitation /></ListHcpApprox3></ListHcpApprox></ListHcpApprox3Result></soap:Body></soap:Envelope>
  recorded_at: Tue, 19 Feb 2013 12:32:40 GMT
recorded_with: VCR 2.4.0
